# SPDX-FileCopyrightText: 2023 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Name=Raven
Name[ar]=الغراب
Name[ca]=Raven
Name[ca@valencia]=Raven
Name[cs]=Raven
Name[de]=Raven
Name[en_GB]=Raven
Name[eo]=Raven
Name[es]=Raven
Name[eu]=Raven
Name[fi]=Raven
Name[fr]=Raven
Name[gl]=Raven
Name[he]=Raven
Name[is]=Raven
Name[it]=Raven
Name[ka]=Raven
Name[ko]=Raven
Name[lt]=Raven
Name[nl]=Raven
Name[nn]=Raven
Name[pl]=Raven
Name[pt]=Raven
Name[pt_BR]=Raven
Name[ro]=Raven
Name[sk]=Raven
Name[sl]=Raven
Name[sv]=Raven
Name[tr]=Raven
Name[uk]=Ворон
Name[zh_TW]=Raven
Comment=Read and write email
Comment[ar]=اقرأ واكتب البريد الإلكتروني
Comment[ca]=Llegeix i escriu correu electrònic
Comment[ca@valencia]=Llig i escriu correu electrònic
Comment[es]=Leer y escribir correo electrónico
Comment[eu]=E-posta irakurri eta idatzi
Comment[fr]=Lire et écrire un courriel
Comment[he]=קריאה וכתיבה של הודעות דוא״ל
Comment[it]=Leggi e scrivi un messaggio di posta
Comment[ka]=ელფოსტის დაწერა და წაკითხვა
Comment[lt]=Skaityti ir rašyti el. laiškus
Comment[nl]=Lezen en schrijven van e-mail
Comment[pl]=Odczytuj i pisz wiadomości pocztowe
Comment[pt_BR]=Ler e receber e-mails
Comment[sl]=Beri in piši pošto
Comment[sv]=Läs och skriv e-post
Comment[tr]=E-posta yazın ve okuyun
Comment[uk]=Надсилання та одержання пошти
Comment[zh_TW]=閱讀和撰寫電子郵件
Exec=ravend
Icon=org.kde.raven
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
