# Copyright 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Raven
Name[ca]=Raven
Name[ca@valencia]=Raven
Name[en_GB]=Raven
Name[es]=Raven
Name[eu]=Raven
Name[fr]=Raven
Name[it]=Raven
Name[ka]=Raven
Name[nl]=Raven
Name[pt]=Raven
Name[sk]=Raven
Name[sl]=Raven
Name[tr]=Raven
Name[uk]=Ворон
Name[x-test]=xxRavenxx
Comment=Send and receive email
Comment[ca]=Envia i rep correu electrònic
Comment[ca@valencia]=Envia i rep correu electrònic
Comment[en_GB]=Send and receive email
Comment[es]=Enviar y recibir correo electrónico
Comment[eu]=E-posta bidaltzea eta jasotzea
Comment[fr]=Envoyer et recevoir un courriel
Comment[it]=Invia e riceve messaggi di posta elettronica
Comment[ka]=ელფოსტის გაგზავნა და მიღება
Comment[nl]=E-mail verzenden en ontvangen
Comment[pt]=Enviar e receber e-mail
Comment[sk]=Prijať a odoslať mail
Comment[sl]=Pošiljaj in sprejemaj pošto
Comment[tr]=E-posta gönderin ve alın
Comment[uk]=Надсилання та одержання пошти
Comment[x-test]=xxSend and receive emailxx
Version=1.0
Exec=raven
Icon=raven
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-KDE-FormFactor=desktop;tablet;handset;
